section.one{
    background-color:tan;
}

#fluff{
    color:white;
    font-size:42px;
}

#fluff2{
    color:white;
    font-size:42px;
}

h2.context{
    border: 1px solid green;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: underline;
}

h2.part{
    text-decoration: underline;
    border: 1px solid green;
    padding-top: 25px;
    text-align: center;
}

h2.procon{
    border: 1px solid green;
    text-decoration: underline;
}

h3.sub{
    line-height: 0.1;
    padding-bottom: 25px;
    text-align: center;
}

h2.name{
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

p.text{
    border: 1px solid green;
    font-size: 25px;
    text-align: center;
}

p.text2{
    border: 1px solid green;
    font-size: 25px;
}

hr{
    border: 1px solid black;
    opacity: 1;
}

img.animate{
    width:300px;
    height:300px;
    border: 1px solid green;
    height: auto;
}

